body {
  background: url("../imgs/windows_background.jpeg") no-repeat center center
    fixed;
  background-size: cover;
}

.window-title-bar {
  background-color: #007bff;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  margin: 0px 100px 0px 100px;
}

.window-title {
  flex-grow: 1;
}

.window-control-btn {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.window-control-btn:hover {
  background-color: rgba(5, 37, 71, 0.815);
}

.window-control-btn.minimize {
  background-image: url("../imgs/minimize.png");
}

.window-control-btn.maximize {
  background-image: url("../imgs/maximize.png");
}

.window-control-btn.close {
  background-image: url("../imgs/exit.png");
}

.window-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;

  margin: 0px 100px 0px 100px;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/windows_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 10px;
}

.taskbar-icons {
  display: flex;
  align-items: center;
  margin: 10px;
}

.taskbar-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin: 0 5px;
}

.taskbar-icon.archivos {
  background-image: url("../imgs/archivos.png");
}

.taskbar-icon.store {
  background-image: url("../imgs/icon.png");
}

.taskbar-icon.task-manager {
  background-image: url("../imgs/task-manager.png");
  background-color: #ffffff57;
  border-radius: 4px;
}

/* Estilos adicionales para los menús desplegables */
.dropdown-menu {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
}

.clock {
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
}

.battery-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10;
  right: 130px;
  background-image: url("../imgs/battery-light.png");
  background-size: cover;
}

.wifi-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10;
  right: 210px;
  background-image: url("../imgs/wifi-light.png");
  background-size: cover;
}
.sound-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10;
  right: 170px;
  background-image: url("../imgs/sound.png");
  background-size: cover;
}
.icons-battery {
  display: flex;
  align-items: center;
}

.icons-battery > .wifi-icon {
  margin-left: 110px;
  margin-right: 5px;
}
.icons-battery > .battery-icon {
  margin-right: 15px;
}
.date {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.interruptions,
.schedulling,
.paginacion {
  display: flex;
  flex-wrap: wrap;
}

.btn.btn-light.interruption-button {
  border-color: #000;
  border-style: solid;
  margin: 5px;
}

.btn.btn-light.interruption-button:hover {
  background-color: #000;
  color: #fff;
}

.btn.btn-light.sched {
  border-color: #008deb2d;
  border-style: solid;
  margin: 5px;
  background-color: #5200eb67;
}

.btn.btn-light.sched:hover {
  background-color: rgb(51, 0, 85);
  color: #fff;
}

.btn.btn-light.pag {
  border-color: #0d694a9a;
  border-style: solid;
  margin: 5px;
  background-color: #058d559f;
}

.btn.btn-light.pag:hover {
  background-color: rgba(1, 32, 5, 0.74);
  color: #fff;
}
